@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ffffff;
}
.content {
  color: #000000;
  transition: 1s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  
  
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
p {
  padding: 0px 45px 20px ;
}
#side-bar {
  position: absolute;
  width: 230px;
  height: 110%;
  background: #70556e;
  top: -20px;
  left: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
  border-radius: 5px;
  /* box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}
.toggle-btn {
  position: absolute;
  top: 30px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: #70556e;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
ul{
    padding: 20px;
    text-align: center;
}
li {
  color: #000000;
  list-style: none;
  font-size: 18px;
  cursor: pointer;
  padding: 20px;
  text-align: left;

}
li:hover {
    font-size: 20px;
    border-radius: 15px;
    /* background: #1b1b1b34; */
    color: #ffffffbe;

}

a{
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}
span{
  /* color: #690283; */
}

/* ----------------Texte animé----------------------- */
.txt-rotate{

  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh; 
  max-width: 60vw;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em; 
  color: #888;
  text-align: center;
  
}

/* -------------------PHOTO NAV BAR-------------------*/

.photo{
    width:180px;
    height:180px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.photo:hover{
    width:190px;
    height:190px;
}
  .photoId {
    position: relative;
    width: auto;
    margin-top: 20px;
    
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 180px;
    width: 180px;
    opacity: 0;
    transition: 2s ease;
    background-color: #ffffffce;
    border-radius: 50%;
    font-weight: bold;
  }

  .photoId:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #70556e;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* ------------------ PROJET PAGE -------------------- */

  /* BLOC DE PROJECT JAVSCRIPT */
  .projectRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: 30px;
    
    
}
  .projectJS{
    
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
     
    vertical-align: middle;
    margin-bottom: 30px; 
    width:38vw;

}

.projectJSDetail{
  
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width:380px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;

}
.imgBulle,.imgPays{
    border-radius: 10px;
    width: 340px;
    height: 300px;
    margin-bottom: 10px;
    /* border: 1px solid #aaaaaa34 ; */
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.imgTemp{
    border-radius: 10px;
    width: 230px;
    height: 300px;
    margin-bottom: 10px;
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}
.imgGMDP{
  border-radius: 10px;
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
  margin-left: -20px;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.imgBulle:hover,.imgPays:hover,.imgTemp:hover,.imgGMDP:hover{
    /* L'image est grossie de 25% */
  -webkit-transform:scale(1); /* Safari et Chrome */
  -moz-transform:scale(1); /* Firefox */
  -ms-transform:scale(1); /* Internet Explorer 9 */
  -o-transform:scale(1); /* Opera */
  transform:scale(1);
}
.imgBulle:hover,.imgPays:hover{
  border-radius: 20px;
  width: 360px;
  height: 330px;

} 
.imgTemp:hover{
  border-radius: 20px;
  width: 250px;
    height: 330px;
}
.imgGMDP:hover{
  border-radius: 10px;
  width: 420px;
  height: 280px;
}



/* // ------- PROJET DISPLAY ----------------------- */

.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  background: #ffffff;
  
  border-radius: 10px;
  border: 0.1px solid #f1f1f1cb;
  box-shadow: 1px 20px 25px -5px rgba(68, 2, 68, 0.1),
    1px 10px 10px -5px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.folder:hover{
  -webkit-transform:scale(1.02); /* Safari et Chrome */
  -moz-transform:scale(1.02); /* Firefox */
  -ms-transform:scale(1.02); /* Internet Explorer 9 */
  -o-transform:scale(1.02); /* Opera */
  transform:scale(1.02);
}

/* // ------- FOLDER SUMMARY */

.folder-summary {
  padding: 30px;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  height: 90px;
  color: #040005c7;
  text-shadow: 0 0 0.05em #ab45c28a;
  /* vertical-align: middle; */
  
  /* position: relative; */
}

.titleProject{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: start;
    background-color: #70556e1c;
    
    /* background: #754d809a; */
    width: 100%;
    cursor: pointer;
}
.svpPlus_show_1, .svpPlus_hide_1, .svpPlus_show_2, .svpPlus_hide_2{
  margin-left: 0px;
  margin-right: 20px;
  margin-top: -5px;
  fill: #530053;
}




/* // ------------ CV PAGE-------------------------- */
.timeline {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: -10px auto;
}
.timeline__event {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
  }
.timeline__event:hover{
  -webkit-transform:scale(1.02); /* Safari et Chrome */
  -moz-transform:scale(1.02); /* Firefox */
  -ms-transform:scale(1.02); /* Internet Explorer 9 */
  -o-transform:scale(1.02); /* Opera */
  transform:scale(1.02);
}


.timeline__event__title {
    font-size: 1.2rem;
    line-height: 1.4;
    text-transform: t;

    font-weight: 600;
    /* color: #2f143a; */
    letter-spacing: 1.1px;
    display: flex;
    flex-direction: column;
    /* color: #555ac0; */
    color: #6902839a;
    margin-top: 15px;
    
}
.timeline__event__content {
padding: 10px;
}
.timeline__event__date {
  color: #0000006c;
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
/* color: #87bbfe; */
}
.timeline__event__icon {
border-radius: 8px 0 0 8px;
display: flex;
align-items: center;
justify-content: center;
flex-basis: 20%;
font-size: 2rem;
/* color: #9251ac; */
padding: 20px;
/* background: #555ac0; */
/* color: #555ac0; */
background: #754d809a;
/* color: #5f1c74; */

}
.timeline__event__icon i {
  position: absolute;
  top: 50%;
  left:-65px;
  font-size: 2.5rem;
  transform: translateY(-50%);
  
}


.timeline__event:after {
content: "";
width: 2px;
height: 100%;
background: #9251ac;
position: absolute;
top: 52%;
/* // transform: translateY(-50%); */
left: -3.5rem;
z-index: -1;


}

.timeline__event:before {
content: "";
width: 5rem;
height: 5rem;
position: absolute;
background: #d3a7d3;
border-radius: 100%;
left: -6rem;
/* // right: 90%; */
top: 50%;
transform: translateY(-50%);
border: 2px solid #9251ac;
}

/* Rond bleu */
.timeline__event--type2:before {
  background: #87bbfe;
  border-color: #555ac0;
}
.timeline__event--type2:after{
  background: #555ac0;

}


/* rond vert */
.timeline__event--type3:before {
  background: #aff1b6;
  border-color: #24b47e;
}
.timeline__event--type3:after{
  background: #24b47e;

}

.timeline__event--type3:last-child:after{
    content: none;
  }


@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
  }
  .timeline__event__icon {
    border-radius: 4px 4px 0 0;
  }
}

.company, .team, .position, .fonction{
  margin: 8px;
  margin-left: 28px;
  margin-bottom: 15px;
}

.company{
  font-size: 20px;
}

.team{
  font-size: 18px;
  margin-top: -3px;
  color: #6902838a;
}
.position{
  font-size: 18px;
  margin-top: -2px;  
  color: #6902838a;
} 
.fonction{
  margin-left: 30px;
  font-size: 18px;
  color: #040005c7;
  text-shadow: 0 0 0.05em #ab45c28a;
  font-weight:800;
  margin-top: 20px;
  
} 
.timeline__event__description {
  flex-basis: 80%;
  line-height: 35px;
  margin: -5px 20px 20px 30px;
  color: #000000;
}


/* ---------------------------- SKILLS ------------------------------- */
#SkillBox {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  width: 50%;
  height: auto;
  margin: 40px auto;
  background-color: #fff;
  /* //border: 1px solid #cdcdcd; */
  padding: 10px;
  border-radius:5px;
  -o-border-radius:10px;
  -webkit-border-radius:10px;
  -ms-border-radius:10px;
  -moz-border-radius:10px;  
}
#SkillBox img {
  width: 20%;
  height: 10%;
  margin: auto 35%;
  padding: 10px;
}
.SkillBar {
  width: 90%;
  height: 50px;
  position: relative;
  border-radius: 5px;
  background: rgba(17, 17, 17, .3);
  margin: 20px auto;
}
#Skill-HTML {
  width: 100%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  border-radius:5px;
  position: absolute;
  background-color: #ea8564;
}
@keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 100%}
}@-webkit-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 100%}
}@-moz-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 100%}
}@-o-keyframes Animate-HTML {
  from {
  width: 10px;
}
to {
  width: 100%}
}#Skill-CSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #55a69f;
  border-radius:5px;
}
@keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-webkit-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-moz-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}@-o-keyframes Animate-CSS {
  from {
  width: 10px;
}
to {
  width: 70%}
}#Skill-jQuery {
  animation: Animate-jQuery 5s;
  -webkit-animation: Animate-jQuery 5s;
  -moz-animation: Animate-jQuery 5s;
  -o-animation: Animate-jQuery 5s;
  width: 40%;
  height: 50px;
  position: absolute;
  background-color: #99856d;
  border-radius:5px;
}
@keyframes Animate-jQuery {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-webkit-keyframes Animate-jQuery {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-moz-keyframes Animate-jQuery {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-o-keyframes Animate-jQuery {
  from {
  width: 10px;
}
to {
  width: 40%}
}#Skill-JS {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 65%;
  height: 50px;
  position: absolute;
  background-color: #c44e45;
  border-radius:5px;
}
@keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-webkit-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-moz-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}@-o-keyframes Animate-JS {
  from {
  width: 10px;
}
to {
  width: 65%}
}#Skill-XML {
  animation: Animate-XML 4s;
  -webkit-animation: Animate-XML 4s;
  -moz-animation: Animate-XML 4s;
  -o-animation: Animate-XML 4s;
  width: 40%;
  height: 50px;
  position: absolute;
  background-color: #5aa669;
  border-radius:5px;
}
@keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-webkit-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-moz-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}@-o-keyframes Animate-XML {
  from {
  width: 10px;
}
to {
  width: 40%}
}#Skill-C {
  animation: Animate-C 4s;
  -webkit-animation: Animate-C 4s;
  -moz-animation: Animate-C 4s;
  -o-animation: Animate-C 4s;
  width: 30%;
  height: 50px;
  position: absolute;
  background-color: #970cc1;
  border-radius:5px;
}
@keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-webkit-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-moz-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 30%}
}@-o-keyframes Animate-C {
  from {
  width: 10px;
}
to {
  width: 30%}
}#Skill-JAVA {
  animation: Animate-JAVA 4s;
  -webkit-animation: Animate-JAVA 4s;
  -moz-animation: Animate-JAVA 4s;
  -o-animation: Animate-JAVA 4s;
  width: 25%;
  height: 50px;
  position: absolute;
  background-color: #8e930c;
  border-radius:5px;
}
@keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 25%}
}@-webkit-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 25%}
}@-moz-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 25%}
}@-o-keyframes Animate-JAVA {
  from {
  width: 10px;
}
to {
  width: 25%}
}#Skill-PHP {
  animation: Animate-PHP 4s;
  -webkit-animation: Animate-PHP 4s;
  -moz-animation: Animate-PHP 4s;
  -o-animation: Animate-PHP 4s;
  width: 50%;
  height: 50px;
  position: absolute;
  background-color: #5A69A6;
  border-radius:5px;
}
@keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-webkit-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-moz-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}@-o-keyframes Animate-PHP {
  from {
  width: 10px;
}
to {
  width: 50%}
}#Skill-SQL {
  animation: Animate-SQL 4s;
  -webkit-animation: Animate-SQL 4s;
  -moz-animation: Animate-SQL 4s;
  -o-animation: Animate-SQL 4s;
  width: 80%;
  height: 50px;
  position: absolute;
  background-color: #23b1db;
  border-radius:5px;
}
@keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-webkit-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-moz-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}@-o-keyframes Animate-SQL {
  from {
  width: 10px;
}
to {
  width: 80%}
}#Skill-VBNET {
  animation: Animate-VBNET 4s;
  -webkit-animation: Animate-VBNET 4s;
  -moz-animation: Animate-VBNET 4s;
  -o-animation: Animate-VBNET 4s;
  width: 35%;
  height: 50px;
  position: absolute;
  background-color: #f8a51e;
  border-radius:5px;
}
@keyframes Animate-VBNET {
  from {
  width: 10px;
}
to {
  width: 35%}
}@-webkit-keyframes Animate-VBNET {
  from {
  width: 10px;
}
to {
  width: 35%}
}@-moz-keyframes Animate-VBNET {
  from {
  width: 10px;
}
to {
  width: 35%}
}@-o-keyframes Animate-VBNET {
  from {
  width: 10px;
}
to {
  width: 35%}
}.Skill-Area {
  z-index: 1;
  float: left;
  /* //position: absolute; */
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  /* //font-family: Lato-Regular, sans-serif; */
  font-size: 18px;
}
.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  /* //font-family: Lato-Regular, sans-serif; */
  font-size: 18px;
}