* {
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.app {
  /* background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); */
  border-radius: 16px;
  margin: 0 10px;
  padding: 24px 10px 10px;
  width: 90%;
  max-width: 600px;
  /* box-shadow: 3px 4px 10px 0px #a76666c2; */
}
.range-container {
  margin: 20px 0;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  transform: scale(2);
  filter: brightness(150%);
}
.checkbox-container {
  margin: 36px 0 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  border-radius: 10px;
    border: 1px solid rgb(159, 175, 189);
    width: auto;   
    padding: 10px;
    /* margin: 0 0 10px; */
    font-size: 16px ;
    cursor: pointer;
    box-shadow: 2px 5px 5px;
    margin: 0 10px 0;
    margin-top: 30px;
  /* margin: 14px 0 20px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  
  padding: 10px 20px;
  border-radius: 150px;
  border: 2px solid #accbee;
  border-bottom: 3px solid yellow;
  border-right: 3px solid yellow;
  transition: 0.2s;
  cursor: pointer; */
}


#pwdrangevalue{
  border: none;
  background: none;
  width: 100px;
  font-size:20px;
}

#pwdgenerated{
  height: 40px;
  width: 300px;font-size: 18px;
  margin-bottom: 20px;
  border-radius: 5px;

}