body{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-height: 100vh; 
}

.app{
    background: rgba(255, 255, 255, 0.623);
    padding-top: 0px;
    padding-left: 8px;
    color: rgb(0, 0, 0);
    border-radius: 10px; 
    padding-bottom: 10px;
}
#displayContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    transition: 2s ease-in-out;
}
.coord{
    margin: 10px;
    font-size: 20px;
}
input{
    border-radius: 10px;
    border: 1px solid rgb(172, 159, 189);
    width: auto;   
    padding: 10px;
    font-size: 16px ;
    margin: 0 10px 0;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
#inputRange{
    margin-left: -0.5px;
    
}
button{
    border-radius: 10px;
    border: 1px solid rgb(159, 175, 189);
    width: auto;   
    padding: 10px;
    /* margin: 0 0 10px; */
    font-size: 16px ;
    cursor: pointer;
    box-shadow: 2px 5px 5px;
    margin: 0 10px 0;

}
button:focus,button:hover{
    background: rgba(44, 1, 34, 0.774);
    border: 1px solid rgba(111, 12, 131, 0.39);
    color: rgb(255, 255, 255);
}



.rangeRow{
    display: flex;
    flex-direction: row;
    
}
img{
    width:100px;
    height:70px;
    border-radius: 10px;
}
.countryBloc{
    display: flex;
    flex-wrap: wrap; /*Les blocs les uns à côté des autres*/
    flex-direction: row;
    justify-content: start;
    margin-top: 30px;
    margin-left: 0px; 
    margin-right: 10px;
}
.countryDetail{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(139, 141, 153, 0.582);
    border-radius: 10px;
    border: 1px solid rgba(128, 97, 168, 0.288);
    box-shadow: 3px 3px 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 177px;
    margin: 10px;
}

